* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #176b3a;
    color: white;
    margin: 0;
    padding: 40px;
}

h1 {
    margin-bottom: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 40px 0;
}

/* Контейнер однієї карти */
.card {
    width: 120px;
    height: 170px;
    perspective: 1000px;
    cursor: pointer;
}

/* Внутрішня частина карти */
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;

    transition: transform 0.6s;
    transform-style: preserve-3d;
}

/* Перевернута карта */
.card.flipped .card-inner {
    transform: rotateY(180deg);
}

/* Обидві сторони карти */
.card-front,
.card-back {
    position: absolute;

    width: 100%;
    height: 100%;

    backface-visibility: hidden;

    border-radius: 10px;
    border: 3px solid white;
}

/* Закрита карта */
.card-back {
    background-image: url("./PNG-cards/card_back_red.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}


/* Відкрита карта */
.card-front {

    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
}

/* .card-1 .card-front { background-image: url("./PNG-cards/2_of_clubs.png"); }
.card-2 .card-front { background-image: url("./PNG-cards/2_of_diamonds.png"); }
.card-3 .card-front { background-image: url("./PNG-cards/2_of_hearts.png"); }
.card-4 .card-front { background-image: url("./PNG-cards/2_of_spades.png"); }

.card-5 .card-front { background-image: url("./PNG-cards/3_of_clubs.png"); }
.card-6 .card-front { background-image: url("./PNG-cards/3_of_diamonds.png"); }
.card-7 .card-front { background-image: url("./PNG-cards/3_of_hearts.png"); }
.card-8 .card-front { background-image: url("./PNG-cards/3_of_spades.png"); }

.card-9 .card-front { background-image: url("./PNG-cards/4_of_clubs.png"); }
.card-10 .card-front { background-image: url("./PNG-cards/4_of_diamonds.png"); }
.card-11 .card-front { background-image: url("./PNG-cards/4_of_hearts.png"); }
.card-12 .card-front { background-image: url("./PNG-cards/4_of_spades.png"); }

.card-13 .card-front { background-image: url("./PNG-cards/5_of_clubs.png"); }
.card-14 .card-front { background-image: url("./PNG-cards/5_of_diamonds.png"); }
.card-15 .card-front { background-image: url("./PNG-cards/5_of_hearts.png"); }
.card-16 .card-front { background-image: url("./PNG-cards/5_of_spades.png"); }

.card-17 .card-front { background-image: url("./PNG-cards/6_of_clubs.png"); }
.card-18 .card-front { background-image: url("./PNG-cards/6_of_diamonds.png"); }
.card-19 .card-front { background-image: url("./PNG-cards/6_of_hearts.png"); }
.card-20 .card-front { background-image: url("./PNG-cards/6_of_spades.png"); }

.card-21 .card-front { background-image: url("./PNG-cards/7_of_clubs.png"); }
.card-22 .card-front { background-image: url("./PNG-cards/7_of_diamonds.png"); }
.card-23 .card-front { background-image: url("./PNG-cards/7_of_hearts.png"); }
.card-24 .card-front { background-image: url("./PNG-cards/7_of_spades.png"); }

.card-25 .card-front { background-image: url("./PNG-cards/8_of_clubs.png"); }
.card-26 .card-front { background-image: url("./PNG-cards/8_of_diamonds.png"); }
.card-27 .card-front { background-image: url("./PNG-cards/8_of_hearts.png"); }
.card-28 .card-front { background-image: url("./PNG-cards/8_of_spades.png"); }

.card-29 .card-front { background-image: url("./PNG-cards/9_of_clubs.png"); }
.card-30 .card-front { background-image: url("./PNG-cards/9_of_diamonds.png"); }
.card-31 .card-front { background-image: url("./PNG-cards/9_of_hearts.png"); }
.card-32 .card-front { background-image: url("./PNG-cards/9_of_spades.png"); }

.card-33 .card-front { background-image: url("./PNG-cards/10_of_clubs.png"); }
.card-34 .card-front { background-image: url("./PNG-cards/10_of_diamonds.png"); }
.card-35 .card-front { background-image: url("./PNG-cards/10_of_hearts.png"); }
.card-36 .card-front { background-image: url("./PNG-cards/10_of_spades.png"); }

.card-37 .card-front { background-image: url("./PNG-cards/ace_of_clubs.png"); }
.card-38 .card-front { background-image: url("./PNG-cards/ace_of_diamonds.png"); }
.card-39 .card-front { background-image: url("./PNG-cards/ace_of_hearts.png"); }
.card-40 .card-front { background-image: url("./PNG-cards/ace_of_spades.png"); }

.card-41 .card-front { background-image: url("./PNG-cards/jack_of_clubs.png"); }
.card-42 .card-front { background-image: url("./PNG-cards/jack_of_diamonds.png"); }
.card-43 .card-front { background-image: url("./PNG-cards/jack_of_hearts.png"); }
.card-44 .card-front { background-image: url("./PNG-cards/jack_of_spades.png"); }

.card-45 .card-front { background-image: url("./PNG-cards/king_of_clubs.png"); }
.card-46 .card-front { background-image: url("./PNG-cards/king_of_diamonds.png"); }
.card-47 .card-front { background-image: url("./PNG-cards/king_of_hearts.png"); }
.card-48 .card-front { background-image: url("./PNG-cards/king_of_spades.png"); }

.card-49 .card-front { background-image: url("./PNG-cards/queen_of_clubs.png"); }
.card-50 .card-front { background-image: url("./PNG-cards/queen_of_diamonds.png"); }
.card-51 .card-front { background-image: url("./PNG-cards/queen_of_hearts.png"); }
.card-52 .card-front { background-image: url("./PNG-cards/queen_of_spades.png"); }

/* Кнопка */
button {
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

/* Popup */
.popup {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Прихований popup */
.hidden {
    display: none;
}

.popup-content {
    background: white;
    color: black;

    padding: 40px;
    border-radius: 15px;

    min-width: 300px;
}

.popup-content h2 {
    margin-bottom: 25px;
}
