.block {
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: rgb(101, 231, 26);
  border: 1px solid blue;
  text-align: center;
}


/* 1. FLEX */
.flex {
  display: flex;
}


/* 2. INLINE-BLOCK */
.inline-block .block {
  display: inline-block;
}


/* 3. GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
}


/* 4. FLOAT */
.float .block {
  float: left;
}

.float {
  overflow: hidden;
}


/* 5. INLINE */
.inline .block {
  display: inline;
}


/* 6. POSITION: ABSOLUTE */
.absolute {
  position: relative;
  height: 120px;
}

.absolute .block {
  position: absolute;
  top: 10px;
}

.absolute .block:nth-child(1) {
  left: 10px;
}

.absolute .block:nth-child(2) {
  left: 120px;
}

.absolute .block:nth-child(3) {
  left: 230px;
}


/* 7. INLINE-BLOCK + NOWRAP */
.nowrap {
  white-space: nowrap;
}

.nowrap .block {
  display: inline-block;
}